<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/run/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.dir}/logs/run/info.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
			<maxFileSize>20MB</maxFileSize>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="debug"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/debug/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.dir}/logs/debug/debug.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
			<maxFileSize>20MB</maxFileSize>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/error/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.dir}/logs/error/error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
			<maxFileSize>20MB</maxFileSize>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="mybatis"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/sql/mybatis.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.dir}/logs/sql/mybatis.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
			<maxFileSize>20MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<logger name="com.lbs.nettyserver" level="DEBUG" additivity="false">
		<appender-ref ref="debug"></appender-ref>
		<appender-ref ref="info"></appender-ref>
		<appender-ref ref="error"></appender-ref>
	</logger>
	<logger name="com.aspire" level="DEBUG" additivity="false">
		<appender-ref ref="debug"></appender-ref>
		<appender-ref ref="info"></appender-ref>
		<appender-ref ref="error"></appender-ref>
	</logger>
	<logger name="org.mybatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="mybatis" />
	</logger>
	<logger name="org.apache.ibatis">
		<level value="debug" />
		<appender-ref ref="mybatis" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="mybatis" />
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>

